<h2>Title: <%= @product.title %></h2><br>
<h5>Description:<%=  @product.description %><br><br>
Colour:<%=  @product.colour %><br><br>
Size:<%= @product.size %><br><br>
Price:<%= @product.price %><br><br>

<div>
<%= link_to "Back", "/" %>
</div>

   